<head>
	<title> SRH Campus Navigator </title> 
	<meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0;" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
	<style type="text/css">
		td{font-family:"verdana", Times, serif; font-size:15px;}
		td.head{font-family:"verdana", Times, serif; font-size:25px;}
		td.oblique {font-family:"verdana", Times, serif; font-style:oblique; font-size:12px;}
		th{font-family:"Times New roman", Times, serif; font-size:15px;}
		body {width:100%;}
		.container {width:70%;
					height:70%;
					margin:0 auto 0 auto;
					padding:5px;
					border:4px solid #cccccc;
					background:#ffffff; }
	</style>
</head>
	
<body>
<div class="container">
<%= render 'header' %><br/>
<table>
	<tr>	
		<td rowspan=1 valign="top" width="20%">
			<div class="menu_div">
				<ul>
				<li id="active">Home</li>
				<li><a href="http://www.map-generator.org/aea4e9fc-d3ae-472e-aa26-030e9e47cb95/linked-map.aspx" target="_blank">SRH Google Map</a></li>
				<li><a href="/SRHMap.html" target="_blank">SRH Campus Map</a></li>
				<li><a href="/PhotoGallery.html" target="_blank">Picture Gallary</a></li>
				
				</ul>
			</div>
		</td>
			
		<td valign="center"  style="padding:0 15px;" width="100%">
			<%= render 'form' %>
			<br/>
		</td>
	</tr>
	<tr>
		
		<td  rowspan=2><img src="/images/tower.jpg" height="60%" width="100%"></td>
		<!-- <iframe src="http://www.map-generator.org/9484c98d-b003-4655-a0be-8c3c89c723f9/iframe-map.aspx" scrolling="no" height="400px" width="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><small><a href="http://www.map-generator.org/9484c98d-b003-4655-a0be-8c3c89c723f9/large-map.aspx" target="_blank">Open large map<a/></small> -->
		<td style="padding:0 15px 0 15px;" width="100%">
			<% if defined?(:from) && defined?(:to) && !defined?(@activity) %>
				<table width="100%">
					<tr>
						<th align="left" bgcolor="#cdc9c9">Journey Details</th>
					</tr>
					<tr>
						<td bgcolor="#eeeee0">Start Location &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <%= @from.inspect %></br> Destination Location: <%= @to.inspect %></td>
					</tr>
				</table>
			<% elsif defined?(@activity) %>
				<table width="100%">
					<tr>
						<th align="left" bgcolor="#cdc9c9">Journey Details</th>
					</tr>
					<tr>
						<td bgcolor="#eeeee0">Start Location : <%= @from.inspect %></br> Activity Selected: <%= @activity.inspect %></td>
					</tr>
				</table>
			<% end %>
		</td>
	</tr>
		<% color_setter = 0 %>
	<tr>
		<td style="padding:0 15px;">
			<% if defined?(@result_hash)  %>
			<h4>Your Route Details : </h4>
				<table width="100%">
					<tr>
						<th bgcolor="#cdc9c9">Action</th>
						<th bgcolor="#cdc9c9">Duration (Sec.)</th>
					</tr>

						<% for i in @result_hash %> 
							<% if color_setter == 0 %>
								<tr>
									<td height="20" align="center"><%=h i.first %><br/></td>
									<td height="20" align="center"><%=h i.second %><br/></td>
								</tr>
								<% color_setter = 1 %>
							<% else %>
								<tr  bgcolor="#eeeee0">
									<td height="20" align="center"><%=h i.first %><br/></td>
									<td height="20" align="center"><%=h i.second %><br/></td>
								</tr>
								<% color_setter = 0 %>
							<% end %>
					<% end %>
				</table>
				<br/>
				<font size="4" color="#0000ff" align = "right">Total Journey time = <%= @sum/60 %> minutes <%= @sum%60 %> seconds </font>
			
			<% elsif defined?(@s_d_same) %>
				<table width="80%">
					<tr>
						<th bgcolor="#cdc9c9">Action</th>
						<th bgcolor="#cdc9c9">Duration (Sec.)</th>
					</tr>
					<tr>
						<td height="20" align="center"> <%= @s_d_same.inspect %></td>
						<td height="20" align="center"> 0 </td>
					</tr>
				</table>
			<% end %>
		</td>
	</tr>
</table>
<br/>
		<%= render 'footer' %>
</div>
</body>


